# Python
*.pyc
*~
__pycache__

# Env
.env
djangovenv/
venv/

# Videos
holidaycard/static/video/
*.mp4

# Database
db.sqlite3

# Static folder at project root
/static/

# Old, Large or Otherwise Unwanted Files
old_inprocess/

# macOS
._*
.DS_Store
.fseventsd
.Spotlight-V100

# Windows
Thumbs.db*
ehthumbs*.db
[Dd]esktop.ini
$RECYCLE.BIN/

# Visual Studio
.vscode/
.history/
*.code-workspace

